button {
    border: 1px solid $temporaryColor;
    border-radius: 40px;
    background-color: transparent;
    padding: 14px 51px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: $primary-color;
}
