.value {
    margin-top: 177px;

    &__link {
        padding-top: 40px;
        display: flex;
        gap: 40px;

        span {
            font-size: 18px;
            line-height: 27px;
            color: #C5C5C5;
            cursor: pointer;
            transition: all .3s ease-in;


            &:hover{
                transform: scale(1.1);
                color: black;
            }
        }
    }


    &__inner {
        margin-top: 40px;
        border-radius: 30px;
        overflow: hidden;
        width: 262px;
        height: 400px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all .3s;

            &:hover{
                transform: scale(1.1)
            }
        }
    }

    &__swiper {
        position: relative;
    }

    & .swiper-button-next {
        top: 0;
        border: 2px solid #145855;
        padding: 18px 22px;
        border-radius: 10px;
    }

    .swiper-button-next::after {
        font-size: 16px;
        width: 7px;
    }

    .swiper-button-prev {
        top: 0;
        border: 2px solid #145855;
        border-radius: 10px;
        padding: 18px 22px;
        right: 75px;
        left: auto;
    }

    .swiper-button-prev::after {
        font-size: 16px;
        width: 7px;
    }
}

.active {
    color: black;
}



.swiper-button-next {
    position: absolute;
    top: 0;
    right: 0;
}

.swiper-button-prev {
    position: absolute;
    top: 0;
    right: 0;
}